html {
  background-color: #f7f7f7;
  color: #343434;
  margin-top: 16px;
}

body {
  background-color: #f7f7f7;
}

.table {
  background-color: #fff;
}

.btn {
  border-radius: 40px;
}

th {
  font-size: 14px;
}

td {
  font-size: 13px;
}

.main-body {
  background-color: #fff;
  padding: 30px;
}

.sidebar-head {
  background-color:  #e1e1e1;
  width: 100%;
  height: 50px;
  border-top: 3px solid #007bff;
  padding-top: 12px;
}

.sidebar-menu .list-group-item:first-child {
  border-radius: 0px;
}

.sidebar-menu a {
  color:  #6c6c6c;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.432px;
  line-height: 14px;
  text-align: left;
}

.sidebar-menu a:hover {
  text-decoration: none;
  color:  #007bff;
}

.main-head {
  height: 51px;
  padding-top: 10px;
  padding-bottom: 3px;
  font-weight: 300;
  border-bottom: 1px solid #d4d4d4;
  margin-bottom: 6px;
  padding-left: 37px;
}

.main-title {
  color:  #343434;
  font-size: 20px;
  letter-spacing: 0.48px;
  text-align: left;
}

.main-balance {
  color:  #6c6c6c;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.432px;
  text-align: left;
  padding-top: 4px;
  padding-right: 24px;
}

.account-view .row:not(.no-border-bottom) {
  border-bottom: 1px solid #d4d4d4;
}

.account-view .col-lg-6 {
  padding: 12px 0;
}

.account-view .col-lg-6.label {
  font-weight: bold;
  padding-left: 24px;
}

.account-view-description {
  padding-left: 24px;
  color:  #9d9d9d;
  font-size: 14px;
  font-weight: 200;
}

.form-style {
  background-color:  #ffffff;
  box-shadow: 0px 12px 9px 0px rgba(0, 0, 0, 0.03);
}

.form-login {
  margin: 80px auto 0 auto;
  width: 500px;
  padding: 40px 80px 40px 80px;
}

.form-registration {
  width: 100%;
  padding: 26px;
}

.program-card {
  position: relative;
  min-height: 113px;
  min-width: 234px;
  border-bottom: 3px solid #007bff;
  padding: 0.75rem;
}

.program-card::before {
  content: " ";
  position: absolute;
  top: 25px;
  left: 147px;
  bottom: 0;
  right: 0;
  background-image: url("/img/percent.png");
  opacity: 0.25;
  background-repeat: no-repeat;
}

.program-card::after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(0, 123, 255, 0);
  border-top-color: #007bff;
  border-width: 10px;
  margin-left: -10px;
}

.program-name {
  font-size: 18px;
  color: #fffff7;
}

.program-card-1 {
  background-color: #459fff;
}

.program-card-2 {
  background-color: #3082dd;
}

.program-card-3 {
  background-color: #126bce;
}

.no-padding {
  padding: 0px !important;
  margin: 0px !important;
}

.fa-inverse {
  color: #007bff !important;
}

.border-active {
  border-right: 3px solid #007bff;
}

.border-active a{
  color: #0080F1;
}

.handshake {
  background: #fff;
}

.no-width {
  width: 0px !important;
}

.btn-chevron {
  padding-left: 0px;
  padding-right: 0px;
  border-radius: 0 5px 5px 0;
}

.btn-cell {
  display: table-cell;
  min-height:100%;
  min-width: 100%;
}

.handshake::before {
  content: " ";
  position: absolute;
  top: 45px;
  left: 147px;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-image: url("/img/check_mark.png");
  opacity: 0.5;
  background-repeat: no-repeat;
}

.li-stats {
  background-image: url("/img/stats.png");
  background-repeat: no-repeat;
}

.li-account {
  background-image: url("/img/account.png");
  background-repeat: no-repeat;
}

.li-coupons {
  background-image: url("/img/coupons.png");
  background-repeat: no-repeat;
}

.li-payments {
  background-image: url("/img/payments.png");
  background-repeat: no-repeat;
}

.li-orders {
  background-image: url("/img/orders.png");
  background-repeat: no-repeat;
}
